:root {
  --width_mobile: 329px;
  --width_tablet: 619.13px;
  --width_desktop: 837px;
}

* {
  box-sizing: border-box;
}

body {
    width: var(--width_mobile);
    margin: auto;
    padding-top: 20px;
    font-family: "Oswald", sans-serif;
}

header {
    width: var(--width_mobile);
    height: 137px;
    background-image: url("../image/banner_mobile.png");
}

.category_title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.button {
    text-align: center;
    border-radius: 25px;
    margin: auto;
    cursor: pointer;
    border: 0px;
    display: block;
}

.button--style1 {
    padding: 8px;
    background-color: #FA0B0B;
    width: 91px;
}

.button--style2 {
    background-color: #2D2C2C;
    width: 81px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(256,256,256);
}

.button--style3 {
    background-color: #FA0B0B;
    width: 214px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    color: rgb(256,256,256);
}

#best_film_container {
    padding: 5px;
    width: 100%;
    border: 6px solid;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

#best_film_container h2{
    font-weight: 600;
    font-size: 32px;
}

#best_film_container p{
    font-weight: 200;
    font-size: 24px;
    width: 293px;
}

#best_film_container .section1 {
    width: 298px;
    height: 241px;
    overflow: hidden;
}

#best_film_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_movie_full {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.container_movie {
    position: relative;
    width: var(--width_mobile);
    height: 319px;
}

.container_movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_movie .section1 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 102px;
    background-color: rgba(0,0,0,0.5);
}

.container_movie h2{
    color: rgb(256,256,256);
    padding-left: 25px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.custom_display:nth-last-child(-n + 4) {
    display: none;
}

.select_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select_container h1 {
    width: 120px;
}

.select_category {
    width: 180px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.select_category option {
    font-weight: 600;
    font-size: 20px;
}

.select_category option:checked {
    background-color: #E7E7E7;
}

#modal_dialog {
    border: 3px solid #000000;
    padding: 15px;
    max-width: 300px;
    max-height: 80vh;
}


#modal_dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#modal_dialog h3 {
    display: inline-block;
    margin: 0px;
}

#modal_dialog .modal_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

#modal_dialog .detail_container {
    width: 250px;
}

#modal_dialog .image_container {
    width: 255px;
    height: 320px;
}

#modal_dialog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal_dialog .image_container {
    order: 1;
}

#modal_dialog .contribution {
    order: 2;
}

#modal_dialog .button_close {
    display: none;
}

#modal_dialog .title_container {
    display : flex;
    flex-direction: row;
    align-items: center;
}

#modal_dialog .close_icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
}
