:root {
  --width_mobile: 329px;
  --width_tablet: 619.13px;
  --width_desktop: 837px;
}

* {
  box-sizing: border-box;
}

body {
    width: var(--width_mobile);
    margin: auto;
    padding-top: 20px;
    font-family: "Oswald", sans-serif;
}

header {
    width: var(--width_mobile);
    height: 137px;
    background-image: url("../image/banner_mobile.png");
}

.category_title {
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.button {
    text-align: center;
    border-radius: 25px;
    margin: auto;
    cursor: pointer;
}

.button--style1 {
    padding: 8px;
    background-color: #FA0B0B;
    width: 91px;
}

.button--style2 {
    background-color: #2D2C2C;
    width: 81px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(256,256,256);
}

.button--style3 {
    background-color: #FA0B0B;
    width: 214px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    color: rgb(256,256,256);
}

#best_film_container {
    padding: 5px;
    width: 100%;
    border: 6px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#best_film_container h2{
    font-weight: 600;
    font-size: 32px;
}

#best_film_container p{
    font-weight: 200;
    font-size: 24px;
    width: 293px;
}

#best_film_container .section1 {
    width: 298px;
    height: 241px;
    overflow: hidden;
}

#best_film_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#best_score_container_full {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.best_score_container {
    position: relative;
    width: var(--width_mobile);
    height: 319px;
}

.best_score_container img {
    width: 100%;
    height: 100%;
    display: block;
}

.best_score_container .section1 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 102px;
    background-color: rgba(0,0,0,0.5);
}

.best_score_container h2{
    color: rgb(256,256,256);
    padding-left: 25px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.custom_display:nth-last-child(-n + 4) {
    display: none;
}

#select_container {
    text-align: center;
}

#select_category {
    margin-top: 10px;
}

#select_category option {
    font-weight: 600;
    font-size: 32px;
}

/* Styles pour Tablette et écrans plus larges */
@media screen and (min-width: 768px) and (max-width: 1051px) {
    body{
        width: var(--width_tablet);
    }

    header {
        width: var(--width_tablet);
        height: 137px;
        background-image: url("../image/banner_tablet.png");
    }

    #best_film_container h2{
        text-align: left;
    }

    #best_film_container {
        display: flex;
        flex-direction: row;
    }

    #best_film_container p{
        width: 371px;
    }

    .button--style1 {
        margin-left: 60%;
    }

    .category_title {
        text-align: left;
    }

    #best_film_container .section1 {
        width: 168px;
        height: 246px;
    }

    #best_film_container img {
        width: 100%;
        height: 100%;
    }

    #best_score_container_full {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 20px;
        flex-wrap: wrap;
    }

    .best_score_container {
        position: relative;
        width: 289px;
        height: 286px;
    }

    .custom_display:nth-last-child(-n + 2) {
        display: block;
    }
}

/* Styles pour Desktop et écrans très larges */
@media screen and (min-width: 1051px) {
    body {
        width: var(--width_desktop);
    }

    header {
        width: var(--width_desktop);
        height: 122px;
        background-image: url("../image/banner_desktop.png");
    }

    #best_film_container h2{
        text-align: left;
    }

    #best_film_container {
        display: flex;
        flex-direction: row;
    }

    #best_film_container p{
        width: 501px;
    }

    .button--style1 {
        margin-left: 80%;
    }

    .category_title {
        text-align: left;
    }

    #best_film_container .section1 {
        width: 227px;
        height: 334px;
    }

    #best_film_container img {
        width: 100%;
        height: 100%;
    }

    #best_score_container_full {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 20px;
        flex-wrap: wrap;
    }

    .best_score_container {
        position: relative;
        width: 252px;
        height: 247px;
    }

    .custom_display:nth-last-child(-n + 6) {
        display: block;
    }

    .button--style3 {
        display: none;
    }

}