/* Styles pour Desktop et écrans très larges */
@media screen and (min-width: 1051px) {
    body {
        width: var(--width_desktop);
    }

    header {
        width: var(--width_desktop);
        height: 122px;
        background-image: url("../image/banner_desktop.png");
    }

    #best_film_container h2{
        text-align: left;
    }

    #best_film_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #best_film_container p{
        width: 575px;
    }

    .button--style1 {
        margin-left: 75%;
    }

    .category_title {
        text-align: left;
    }

    #best_film_container .section1 {
        width: 227px;
        height: 334px;object-fit: cover;
    }

    #best_film_container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container_movie_full {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 20px;
        flex-wrap: wrap;
    }

    .container_movie {
        position: relative;
        width: 252px;
        height: 247px;
    }

    .custom_display:nth-last-child(-n + 6) {
        display: block;
    }

    .button--style3 {
        display: none;
    }

    .select_container {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    #modal_dialog {
        width: 500px;
        max-width: 500px;
        max-height: 80vh;
    }

    #modal_dialog .detail_container {
        width: 270px;
    }

    #modal_dialog .modal_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    #modal_dialog .image_container {
        order: 0;
        width: 170px;
        height: 200px;
    }

    #modal_dialog .button_close {
        display: block;
    }

    #modal_dialog .close_icon {
        display: none;
    }

}